body {
	background-color: black;
}


#Login {

	color: white;
	background-color: grey;
	border-radius: 12px;

}

#tryAgain {
	color: red;
	font-size: 10px;
	visibility: hidden;
}

#loginForm {
	background-color: black;
	color: white;
	width: 20%;
	height: 40%;
	margin-left: 40%;
	margin-top: -15%;
	position: relative;
	z-index: 3;
}


#TextBox {
	font-family: "Roboto", serif;
}

#Username {
	color: white;
	width: 85%;
	height: 30px;
	background-color: grey;
	border: none;
}

#Password {
	color: white;
	width: 85%;
	height: 30px;
	background-color: grey;
	border: none;
}

#head {
	text-align: center;
	color: white;
	margin-top: 300;
	font-family: "Roboto", serif;
	font-size: 40px;
	position: relative;
	z-index: 2;
}
#adventure {
	display: block;

	margin: 0 auto;

    border: none;
    font-size: 24px;
    margin-top: 2;
    color: white;
    background-color: black;
    position: relative;
	z-index: 2;
}

#rainCanv {
	background: black;
	margin: 0 auto;
	position: absolute;
	top: 0%;
	z-index: 1;
}
